{% extends 'base.html' %}

{% block title %}About{% endblock title %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

    <title>MaxCX</title>
  </head>
  <style>
      /* .container{
        
        padding-left: 150px;
        padding-top: 126.26px;
      } */
     
      .hello{
          color:grey;
          margin-top: 58.62px;
          margin-left: 195px;
          text-decoration: none;
          font-family: Rubik;
          font-weight: normal;
      }
      .imgEdit1{
          margin-left: 150px;
          margin-top: 57px;
          color:black;
          /* width: 35px; */
          height: 36.23px;
          /* left: 185px; */
          /* top: 86.23px; */
      }
      .imgEdit{
          margin-left: 150px;
          margin-top: 50px;
          text-decoration: none;
          color:black;
          font-family: Rubik;
          font-weight: normal;

      }
      .dist{
          color: grey;
          margin-left: 40px;
          text-decoration: none;
          margin-top: 58.62px;
          font-family: Rubik;
      }
      .btn{
          margin-left: 30px;
          margin-top: 8px;
          /* position: absolute; */
          width: 150px;
          height: 45px;
          left: 1140px;
          top: 58.62px;
          border: 1px solid #F53855;
          box-sizing: border-box;
          border-radius: 50px;
          background-color: white;
          color:#F53855;
      }
      .textDesign{
          margin-left: 150px;
          margin-top: 129.15px;
          width: 555px;
          height: 140px;
          left: 150px;
          top: 206.77px;
          font-family: Rubik;
          font-style: normal;
          /* font-weight: 800; */
          font-size: 50px;
          line-height: 70px;
          color: #0B132A;
      }
      .subPara{
        margin-left: 150px;
        width: 555px;
        height: 60px;
        left: 150px;
        top: 366.77px;
        font-family: Rubik;
        font-style: normal;
        font-size: 16px;
        line-height: 30px;
        color: #4F5665;
      }
      .bolder{
          font-weight: 500;
      }
      .getStarted{
        margin-left: 150px;
        margin-top: 67.5px;
        width: 250px;
        height: 60px;
        left: 150px;
        top: 476.77px;
        background: #F53838;
        border-radius: 10px;
        border: 1px solid #F53855;
        
      }
      .getText{
        position: absolute;
        width: 95px;
        height: 25px;
        left: 234.5px;
        top:  590.27px;

        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 25px;
        color: #FFFFFF;
      }
      .yellow{
        position: absolute;
        width: 211.83px;
        height: 60px;
        left: 177.09px;
        top: 610.06px;
        background: rgba(245, 56, 56, 0.35);
        filter: blur(23px);
        border-radius: 10px;
      }
    .flex-container {
        display: flex;
    }
    .studyBoy{
        margin-top: 98.15px;
        margin-left: 2.55px;
        width:646px;
        height: 448px;
    }
    .editEle{
        margin-left: 10px;
        font-family: Rubik;
        font-style: normal;
    }
    .vl{
        margin-left: 81.5px;
        padding-top: 37.21px;
        width: 0px;
        height: 125.57px;
        left: 515.5px;
        top: 701.76px;

        border: 2px solid #EEEFF2;
        border-radius: 2px;
        background-color: #EEEFF2;
    }
    

    
  </style>
  <body>
    
    <div class="flex-container">
        <div>
                <p class="textDesign"><span style="font-weight: 800;">Want anything to be</span><br/>
                <span style="font-weight: 800;">easy with </span><span style="font-weight: 10;">Max</span><span style="font-weight: 1000;">CX.</span>
                </p>
                <p class="subPara">Provide an experience for all customers'needs with ease and fun with <br/>
                <b>MaxCX</b>.Discover interesting features from us.
                </p>
                
        </div>
        <div>
            <img src="/static/Tech3.jpeg" alt="" class="studyBoy">
        </div>
    </div>
    <div class="flex-container" style="width: 1140px;
    height: 200px;
    left: 150px;
    top: 664.55px;
    margin-top: 102.79px; margin-left: 150px; margin-right: 150px">
        <div>
            <div class="flex-container">
                <div>
                    <img src="/static/MacCX assignment assests/user.png" alt="" style="margin-left: 91px; width: 120px;
                    height: 180px; padding-top: 72.5px;">
                </div>
                <div style="padding-top:74px;padding-left:36.5px; font-family: Rubik; color:#4F5665">
                    <span><span style="font-weight: 1000; color:black">90K+</span><br>
                        Satisfied <br>
                        Customers
                    </span>
                </div>
            </div>
        </div>
        <div class="vl"></div>
        <div class="flex-container">
            <div>
                <img src="/static/MacCX assignment assests/location.png" alt="" style="margin-left: 133px; width: 120px;
                height: 180px;padding-top: 72.5px;">
            </div>
            <div style="padding-top:74px;padding-left:36.5px; font-family: Rubik; color:#4F5665">
                <span><span style="font-weight: 1000; color:black">100+</span><br>
                    Blooming <br>
                    Companies
                </span>
            </div>
        </div>
        <div class="vl"></div>
        <div class="flex-container">
            <div>
                <img src="/static/MacCX assignment assests/Server.png" alt="" style="margin-left: 133px; width: 120px;
                height: 180px;padding-top: 72.5px;">
            </div>
            <div style="padding-top:74px;padding-left:36.5px; font-family: Rubik; color:#4F5665">
                <span><span style="font-weight: 1000; color:black">500+</span><br>
                    Support <br>
                    Specialists
                </span>
            </div>
        </div>
        
        <div style="background: #0D1025;
        opacity: 0.06;
        filter: blur(16px);
        border-radius: 10px;
        position: absolute;
        width: 1000.84px;
        height: 42.02px;
        left: 195.58px;
        top: 954.35px;
       "></div>
    </div>
    <div class="flex-container">
        <div>
            <img src="/static/MacCX assignment assests/Illustration 2.png" alt="" style="margin-left: 184.5px; margin-top: 95.83px; width: 508.12px;
            height: 414.71px;
            left: 184.52px;
            top: 960.38px;">
        </div>
        <div style="margin-left: 169.48px; margin-top: 150px;">
            <p style="
            position: absolute;
            width: 383.41px;
            height: 100px;
            left: 862.12px;
            top: 1014.55px;
            font-family: Rubik;
            font-style: bold;
            font-weight: 1000;
            font-size: 35px;
            line-height: 50px;
            color: #0B132A;">We Provide Many<br>
            Features You Can Use<br>
        </p>
            <p style="width: 438.88px;
            height: 60px;
            left: 862.12px;
            top: 1134.55px;
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 30px;
            /* or 187% */
            margin-top: 48px;
            margin-left:-9px;
            color: #4F5665;">You can explore the features that we provide with fun and
            have their own functions each feature.</p>
        <div class="flex-container" style="margin-top: -23px;">
            <div>
                <img src="/static/MacCX assignment assests/Vector.png" alt="" style="
                margin-top: 25px;">
            </div>
            <div style="width: 181px;
            height: 30px;
            left: 896.2px;
            top: 1214.55px;
            
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 30px;
            /* identical to box height, or 214% */
            
            
            color: #4F5665;
            padding-top: 29px;
            padding-left: 12.08px;">Managed Turn around limits</div>
            
        </div>
        <div class="flex-container">
            <div>
                <img src="/static/MacCX assignment assests/Vector.png" alt="" style="
                margin-top: 25px;">
            </div>
            <div style="width: 181px;
            height: 30px;
            left: 896.2px;
            top: 1214.55px;
            
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 30px;
            /* identical to box height, or 214% */
            
            
            color: #4F5665;
            padding-top: 29px;
            padding-left: 12.08px;">Customized workflow</div>
            
        </div>
        <div class="flex-container">
            <div>
                <img src="/static/MacCX assignment assests/Vector.png" alt="" style="
                margin-top: 25px;">
            </div>
            <div style="width: 181px;
            height: 30px;
            left: 896.2px;
            top: 1214.55px;
            
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 30px;
            /* identical to box height, or 214% */
            
            
            color: #4F5665;
            padding-top: 29px;
            padding-left: 12.08px;">Hooks for Manual steps</div>
            
        </div>
        <div class="flex-container">
            <div>
                <img src="/static/MacCX assignment assests/Vector.png" alt="" style="
                margin-top: 25px;">
            </div>
            <div style="width: 206px;
            height: 30px;
            left: 896.2px;
            top: 1214.55px;
            
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 30px;
            /* identical to box height, or 214% */
            
            
            color: #4F5665;
            padding-top: 29px;
            padding-left: 12.08px;">Realtime updates and statistics</div>
            
        </div>
        </div>
    </div>
    <div style="background-color: #F6F6F6;
    height: 431%;
    width: 100%;
    margin-left: -7px;
    margin-right: 0px;
    position: absolute">
    <div style="width: 383.41px;
    height: 50px;
    left: 528.3px;
    top: 1586.55px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 1000;
    font-size: 35px;
    line-height: 50px;
    text-align: center;
    color: #0B132A;
    margin-left: 527.43px;
    margin-top: 80.27px;">Choose Your Plan</div>
    <div style="
    width: 555px;
    height: 60px;
    left: 442.5px;
    top: 1656.55px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
    margin-left: 430px;
    margin-top: 20px;">Let's choose the package that is best for you and explore it happily and cheerfully.</div>
    <div class="flex-container" style="margin-left:-108px">
        <div style="
        width: 330px;
        height: 760px;
        left: 175px;
        top: 1776.55px;
        margin-left:210px;
        margin-top: 60px;    
        background: #FFFFFF;
        border: 2px solid #DDDDDD;
        box-sizing: border-box;
        border-radius: 10px;">
        <img src="/static/MacCX assignment assests/Free.png" alt="" style="width: 136.85px;
        height: 146.11px;
        margin-left: 98.62px;
        margin-top: 82.84px;
        margin-right: 103.72px;">
        <p style="
        width: 82px;
        height: 30px;
        left: 299px;
        top: 2051.55px;
        margin-left: 124px;
        margin-right:124px;
        margin-top:30px;
        font-family: Rubik;
        font-style: normal;
        font-weight: 1000;
        font-size: 18px;
        line-height: 30px;
        /* identical to box height, or 167% */
        
        text-align: center;
        
        color: #0B132A;">Free Plan</p>
        <div class="flex-container">
          
            <div style="width: 138px;
            height: 30px;
            left: 289.13px;
            top: 2111.55px;
            
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 30px;
            /* identical to box height, or 214% */
            margin-top:29px;
            margin-left:90px;
            color: #4F5665;
            ">
            10 Inbound leads/pm
            </div>
            
        </div>
        <div class="flex-container">
            
            <div style="width: 138px;
            height: 30px;
            left: 289.13px;
            top: 2111.55px;
            
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 30px;
            /* identical to box height, or 214% */
            margin-top:10px;
            margin-left:90px;
            
            color: #4F5665;
            ">
            10 workflow steps
            </div>
            
        </div>
        <div class="flex-container">
           
            <div style="width: 138px;
            height: 30px;
            left: 289.13px;
            top: 2111.55px;
            
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 30px;
            /* identical to box height, or 214% */
            margin-top:10px;
            margin-left:90px;
            color: #4F5665;
            ">
            Unlimited usage
            </div>
            
        </div>
        <div class="flex-container">
            
            <div style="width: 140px;
            height: 30px;
            left: 289.13px;
            top: 2111.55px;
            
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 30px;
            /* identical to box height, or 214% */
            margin-top:10px;
            margin-left:90px;
            color: #4F5665;
            ">
            Daily Stats & updates
            </div>

            
        </div>
        <p style="width: 54px;
        height: 30px;
        left: 313px;
        top: 2391.55px;
        
        font-family: Rubik;
        font-style: normal;
        font-weight: 1000;
        font-size: 25px;
        line-height: 30px;
        /* identical to box height, or 120% */
        
        text-align: center;
        
        color: #0B132A;
        margin-left: 125px; margin-right:38px; margin-top: 104px;">Free</p>
        <button style="width: 177.88px;
        height: 45px;
        left: 251.06px;
        top: 2441.55px;
        
        border: 2px solid #F53838;
        box-sizing: border-box;
        border-radius: 50px;
        margin-left: 59px;
        background-color: white;
       
    " ><span style="width: 52px;
height: 19px;
left: 314px;
top: 2454.55px;
color:#F53838;
        font-weight: 800;
        font-size: 18px;
    padding-left: 53.94px;
        padding-top: 13px;
        padding-right:62.94px;
        padding-bottom: 13px;">Select</span></button>
        </div>
        <div style="
        width: 330px;
        height: 760px;
        left: 175px;
        top: 1776.55px;
        margin-left:174.14px;
        margin-top: 60px;    
        background: #FFFFFF;
        border: 2px solid #DDDDDD;
        box-sizing: border-box;
        border-radius: 10px;">
        <img src="/static/MacCX assignment assests/Free.png" alt="" style="width: 136.85px;
        height: 146.11px;
        margin-left: 98.62px;
        margin-top: 82.84px;
        margin-right: 103.72px;">
        <p style="
        width:119px;
    height: 30px;
    left: 282px;
    top: 2051.55px;
    margin-left: 114px;
        margin-right:124px;
        margin-top:30px;
        font-family: Rubik;
        font-style: normal;
        font-weight: 1000;
        font-size: 18px;
        line-height: 30px;
        /* identical to box height, or 167% */
        
        text-align: center;
        
        color: #0B132A;">Standard Plan</p>
        <div class="flex-container">
          
            <div style="width: 145px;
            height: 30px;
            left: 289.13px;
            top: 2111.55px;
            
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 30px;
            /* identical to box height, or 214% */
            margin-top:29px;
            margin-left:90px;
            
            color: #4F5665;
            ">
            10k Inbound leads/pm
            </div>
            
        </div>
        <div class="flex-container">
            
            <div style="width: 138px;
            height: 30px;
            left: 289.13px;
            top: 2111.55px;
            
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 30px;
            /* identical to box height, or 214% */
            margin-top:10px;
            margin-left:90px;
            color: #4F5665;
            ">
            100 workflow steps
            </div>
            
        </div>
        <div class="flex-container">
          
            <div style="width: 138px;
            height: 30px;
            left: 289.13px;
            top: 2111.55px;
            
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 30px;
            /* identical to box height, or 214% */
            margin-top:10px;
            margin-left:90px;
            color: #4F5665;
            ">
            Unlimited usage
            </div>
            
        </div>
        <div class="flex-container">
           
            <div style="width: 183px;
            height: 30px;
            left: 289.13px;
            top: 2111.55px;
            
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 30px;
            /* identical to box height, or 214% */
            margin-top:10px;
            margin-left:90px;
            color: #4F5665;
            ">
            On demand Stats & updates
            </div>

            
        </div>
        <div class="flex-container">
            
            <div style="width: 157px;
            height: 30px;
            left: 289.13px;
            top: 2111.55px;
            
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 30px;
            /* identical to box height, or 214% */
            margin-top:10px;
            margin-left:90px;
            color: #4F5665;
            ">
            Workflow Customization
            </div>

            
        </div>
        
        <p style="width: 92px;
        height: 30px;
        left: 313px;
        top: 2391.55px;
        
        font-family: Rubik;
        font-style: normal;
        font-weight: 1000;
        font-size: 25px;
        line-height: 30px;
        /* identical to box height, or 120% */
        
        text-align: center;
        
        color: #0B132A;
        margin-left: 109px; margin-right:38px; margin-top: 74px;">$9 / mo</p>
        <button style="width: 177.88px;
        height: 45px;
        left: 251.06px;
        top: 2441.55px;
        
        border: 2px solid #F53838;
        box-sizing: border-box;
        border-radius: 50px;
        margin-left: 59px;
        background-color: white;
       
    " ><span style="width: 52px;
height: 19px;
left: 314px;
top: 2454.55px;
color:#F53838;
        font-weight: 800;
        font-size: 18px;
    padding-left: 53.94px;
        padding-top: 13px;
        padding-right:62.94px;
        padding-bottom: 13px;">Select</span></button>
        </div>

        <div style="
        width: 330px;
        height: 760px;
        left: 175px;
        top: 1776.55px;
        margin-left:174.14px;
        margin-top: 60px;    
        background: #FFFFFF;
        border: 2px solid #F53838;;
        box-sizing: border-box;
        border-radius: 10px;">
        <img src="/static/MacCX assignment assests/Free.png" alt="" style="width: 136.85px;
        height: 146.11px;
        margin-left: 98.62px;
        margin-top: 82.84px;
        margin-right: 103.72px;">
        <p style="
        width: 117px;
    height: 30px;
    left: 299px;
    top: 2051.55px;
    margin-left: 114px;
        margin-right:124px;
        margin-top:30px;
        font-family: Rubik;
        font-style: normal;
        font-weight: 1000;
        font-size: 18px;
        line-height: 30px;
        /* identical to box height, or 167% */
        
        text-align: center;
        
        color: #0B132A;">Premium Plan</p>
        <div class="flex-container">
          
            <div style="width: 159px;
            height: 30px;
            left: 289.13px;
            top: 2111.55px;
            
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 30px;
            /* identical to box height, or 214% */
            margin-top:29px;
            margin-left:90px;
            color: #4F5665;
            ">
            Unlimited Inbound leads
            </div>
            
        </div>
        <div class="flex-container">
          
            <div style="width: 165px;
            height: 30px;
            left: 289.13px;
            top: 2111.55px;
            
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 30px;
            /* identical to box height, or 214% */
            margin-top:10px;
            margin-left:90px;
            
            color: #4F5665;
            ">
            Unlimited workflow steps
            </div>
            
        </div>
        <div class="flex-container">
            
            <div style="width: 165px;
            height: 30px;
            left: 289.13px;
            top: 2111.55px;
            
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 30px;
            /* identical to box height, or 214% */
            margin-top:10px;
            margin-left:90px;
            color: #4F5665;
            ">
            Unlimited usage
            </div>
            
        </div>
        <div class="flex-container">
            
            <div style="width: 165px;
            height: 30px;
            left: 289.13px;
            top: 2111.55px;
            
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 30px;
            /* identical to box height, or 214% */
            margin-top:10px;
            margin-left:90px;
            color: #4F5665;
            ">
            Realtime Stats & updates
            </div>

            
        </div>
        <div class="flex-container">
           
            <div style="width: 159px;
            height: 30px;
            left: 289.13px;
            top: 2111.55px;
            
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 30px;
            /* identical to box height, or 214% */
            margin-top:10px;
            margin-left:90px;
            color: #4F5665;
            ">
            Workflow Customization
            </div>

            
        </div>
        <div class="flex-container">
           
            <div style="width: 152px;
            height: 30px;
            left: 289.13px;
            top: 2111.55px;
            
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 30px;
            /* identical to box height, or 214% */
            margin-top:10px;
            margin-left:90px;
            color: #4F5665;
            ">
            Hooks for Manual steps
            </div>

            
        </div>
        
        <p style="width: 102px;
        height: 30px;
        left: 313px;
        top: 2391.55px;
        font-family: Rubik;
        font-style: normal;
        font-weight: 1000;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        color: #0B132A;
        margin-left: 110px;
        margin-right: 38px;
        margin-top: 43px;">$12 / mo</p>
        <button style="width: 177.88px;
        height: 45px;
        left: 251.06px;
        top: 2441.55px;
        
        border: 2px solid #F53838;
        box-sizing: border-box;
        border-radius: 50px;
        margin-left: 71px;
        background-color:#F53838;
       
    " ><span style="width: 52px;
        height: 19px;
        left: 314px;
        top: 2454.55px;
        color:white;
        font-weight: 800;
        font-size: 18px;
        padding-left: 53.94px;
        padding-top: 13px;
        padding-right:62.94px;
        padding-bottom: 13px;">Select</span></button>
        </div>
    </div>
    <div style="width: 483.41px;
        height: 100px;
        left: 478.3px;
        top: 2686.55px;
        
        font-family: Rubik;
        font-style: normal;
        font-weight: 1000;
        font-size: 35px;
        line-height: 50px;
        /* or 143% */
        
        text-align: center;
        
        color: #0B132A;
        margin-left:477.43px; margin-top:150px; margin-right: 479.13px;">Huge Global Network of <br>
        Specialized Workforce</div>
    <div style="width: 555px;
    height: 60px;
    left: 442.5px;
    top: 2806.55px;
    
    font-family: Rubik;
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
    /* or 187% */
    
    text-align: center;
    
    color: #4F5665;
    margin-top: 20px;
    margin-left: 441.64px;
    margin-right: 443.52px;
    ">See<span style="font-weight: bolder; color:#4F5665;text-shadow: 0.5px 0 #4F5665;"> MaxCX</span> everywhere to make it easier for you for your customers<br>
    around the globe</div>    
    <img src="/static/MacCX assignment assests/Huge Global.png" alt="" style="left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 1060px;
    height:537.77px;
    margin-left: 190px;
    margin-right: 190px;
    margin-top: 155.81px;
    
   
    opacity: 0.5;">
    <div class="flex-container">
        <div style="margin-left: 150px; margin-top: 54.36px;">
            <img src="/static/MacCX assignment assests/Mask Group.png" alt="" style="width:200px; height:112.5px ">
        </div>
        <div style="margin-left: 42.5px; margin-top: 80.61px;">
            <img src="/static/MacCX assignment assests/Mask Group-1.png" alt="" style="width:190px; height:60px ">
        </div>
        <div style="margin-left: 27.5px;
        margin-top: 20.61px;">
            <img src="/static/MacCX assignment assests/Mask Group-2.png" alt="" style="width: 212px;
            height: 190px;">
        </div>
        <div style="margin-left: 42.5px; margin-top: 80.61px;">
            <img src="/static/MacCX assignment assests/Mask Group-3.png" alt="" style="width:190px; height:60px ">
        </div>
        <div style="margin-left: 42.5px; margin-top: 80.61px;">
            <img src="/static/MacCX assignment assests/Mask Group-4.png" alt="" style="width:190px; height:60px ">
        </div>

    </div>
    <div style="width: 447.81px;
    height: 100px;
    left: 496.1px;
    top: 3854.25px;
    
    font-family: Rubik;
    font-style: normal;
    font-weight: 1000;
    font-size: 35px;
    line-height: 50px;
    /* or 143% */
    
    text-align: center;
    
    color: #0B132A;
    margin-left: 496.1px;
    margin-right: 496.1px;
    ">Trusted by Thousands of<br>
    Happy Customer</div>
    <div style="width: 555px;
    height: 60px;
    left: 442.5px;
    top: 3974.25px;
    margin-left: 442.5px;
    margin-right: 442.5px;
    margin-top:20px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    /* or 187% */
    
    text-align: center;">These are the stories of our customers who have joined us with great<br> pleasure when using this crazy feature.</div>
  </body>
  <div class="flex-container">
      <div style="margin-left:150px">
        <div class="flex-container">
            <div style="width: 364px;
            height: 207px;
            left: 150px;
            top: 4120px;
            margin-left: 31px;
            margin-top: 85.75px;
            background: #FFFFFF;
            border: 2px solid #F53838;
            box-sizing: border-box;
            border-radius: 10px;">
            <div class="flex-container">
                <div style=" margin-left: 27.3px; margin-top: 27.22px;"><img src="/static/MacCX assignment assests/Ellipse 175.png" alt="" style="width:45.5px;height:44.95px;"></div>
                <div style="width: 150.92px;
            height: 16.18px;
            left: 241px;
            top: 4153.06px;
            
            font-family: Rubik;
            font-style: normal;
            font-weight: 1000;
            font-size: 16px;
            line-height: 30px;
            /* or 187% */
            
            display: flex;
            align-items: center;
            text-align: center;
            margin-top:33.06px;
            margin-left:18.2px;
            color: #0B132A;">Viezh Robert<br>
            <p style="margin-top: 54.49px;
            margin-left: -91.89px;width: 91.91px;
            height: 12.58px;
            left: 241.91px;
            top: 4173.74px;
    
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 30px;
            /* or 250% */
    
            display: flex;
            align-items: center;
            text-align: center;
    color: #4F5665;">Warsaw, Poland</p>
            </div>
            <div style="margin-left:54.08px;margin-top:43px;width: 22px;
            height: 14px;
            left: 441px;
            top: 4163px;
            
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 30px;
            /* or 200% */
            
            display: flex;
            align-items: center;
            
            color: #0B132A;">4.5</div>
            <div><img src="/static/MacCX assignment assests/ant-design_star-filled.png" alt="" style="margin-top:43.14px;margin-left:10px;left: 8.64%;
                right: 8.65%;
                top: 6.67%;
                bottom: 14.35%;
                width: 12.04px; height:11.36px
                "></div>
          </div>
          <div style="width: 310px;
          height: 90px;
          left: 177px;
          top: 4210px;
          margin-left:29px;
          margin-top:20.68px;
          margin-right: 27px;
          font-family: Rubik;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 30px;
          /* or 214% */
          
          display: flex;
          align-items: center;
          
          color: #0B132A;
          
          ">“Wow... I am very happy to use this MaxCX service, it turned out to be more than my expectations and so far there have been no problems. MaxCX always the best.”</div>   
          <div style=" 
          margin-top: 10px;
          margin-left: 3px;
          width: 318.35px;
    height: 300.81px;
    left: 190.82px;
    top: 4094.25px;
    background: #0D1025;
    opacity: 0.06;
    filter: blur(114px);
    border-radius: 10px;
    "></div>
            </div>
          </div>
      </div>
     <div><div class="flex-container">
        <div style="width: 364px;
        height: 207px;
        left: 150px;
        top: 4120px;
        margin-left: 31px;
        margin-top: 85.75px;
        background: #FFFFFF;
        border: 2px solid #DDDDDD;
        box-sizing: border-box;
        border-radius: 10px;">
        <div class="flex-container">
            <div style=" margin-left: 27.3px; margin-top: 27.22px;"><img src="/static/MacCX assignment assests/Ellipse 175-1.png" alt="" style="width:45.5px;height:44.95px;"></div>
            <div style="width: 150.92px;
        height: 16.18px;
        left: 241px;
        top: 4153.06px;
        
        font-family: Rubik;
        font-style: normal;
        font-weight: 1000;
        font-size: 16px;
        line-height: 30px;
        /* or 187% */
        
        display: flex;
        align-items: center;
        text-align: center;
        margin-top:33.06px;
        margin-left:18.2px;
        color: #0B132A;">Viezh Robert<br>
        <p style="margin-top: 54.49px;
        margin-left: -91.89px;width: 91.91px;
        height: 12.58px;
        left: 241.91px;
        top: 4173.74px;

        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 30px;
        /* or 250% */

        display: flex;
        align-items: center;
        text-align: center;
color: #4F5665;">Shanxi, China</p>
        </div>
        <div style="margin-left:54.08px;margin-top:43px;width: 22px;
        height: 14px;
        left: 441px;
        top: 4163px;
        
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 30px;
        /* or 200% */
        
        display: flex;
        align-items: center;
        
        color: #0B132A;">4.5</div>
        <div><img src="/static/MacCX assignment assests/ant-design_star-filled.png" alt="" style="margin-top:43.14px;margin-left:10px;left: 8.64%;
            right: 8.65%;
            top: 6.67%;
            bottom: 14.35%;
            width: 12.04px; height:11.36px
            "></div>
      </div>
      <div style="width: 310px;
      height: 90px;
      left: 177px;
      top: 4210px;
      margin-left:29px;
      margin-top:20.68px;
      margin-right: 27px;
      font-family: Rubik;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 30px;
      /* or 214% */
      
      display: flex;
      align-items: center;
      
      color: #0B132A;
      
      ">“I like it because I’ve my userbase around the globe and MaxCX just makes it a lot easier for me removing all the inter-continent barriers.”</div>   
      
        </div>
       
        
     
      </div></div>
      <div><div class="flex-container">
        <div style="width: 364px;
        height: 207px;
        left: 150px;
        top: 4120px;
        margin-left: 31px;
        margin-top: 85.75px;
        background: #FFFFFF;
        box-sizing: border-box;
        border: 2px solid #DDDDDD;
        border-radius: 10px;">
        <div class="flex-container">
            <div style=" margin-left: 27.3px; margin-top: 27.22px;"><img src="/static/MacCX assignment assests/Ellipse 175-2.png" alt="" style="width:45.5px;height:44.95px;"></div>
            <div style="width: 150.92px;
        height: 16.18px;
        left: 241px;
        top: 4153.06px;
        
        font-family: Rubik;
        font-style: normal;
        font-weight: 1000;
        font-size: 16px;
        line-height: 30px;
        /* or 187% */
        
        display: flex;
        align-items: center;
        text-align: center;
        margin-top:33.06px;
        margin-left:18.2px;
        color: #0B132A;">Viezh Robert<br>
        <p style="margin-top: 54.49px;
        margin-left: -91.89px;width: 105.91px;
        height: 12.58px;
        left: 241.91px;
        top: 4173.74px;

        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 30px;
        /* or 250% */

        display: flex;
        align-items: center;
        text-align: center;
color: #4F5665;">Seoul, South Korea</p>
        </div>
        <div style="margin-left:54.08px;margin-top:43px;width: 22px;
        height: 14px;
        left: 441px;
        top: 4163px;
        
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 30px;
        /* or 200% */
        
        display: flex;
        align-items: center;
        
        color: #0B132A;">4.5</div>
        <div><img src="/static/MacCX assignment assests/ant-design_star-filled.png" alt="" style="margin-top:43.14px;margin-left:10px;left: 8.64%;
            right: 8.65%;
            top: 6.67%;
            bottom: 14.35%;
            width: 12.04px; height:11.36px
            "></div>
      </div>
      <div style="width: 310px;
      height: 90px;
      left: 177px;
      top: 4210px;
      margin-left:29px;
      margin-top:20.68px;
      margin-right: 27px;
      font-family: Rubik;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 30px;
      /* or 214% */
      
      display: flex;
      align-items: center;
      
      color: #0B132A;
      
      ">“This is very unusual for my business that currently requires a partner that keeps my data at the highest possibe security.”.</div>   
      
        </div>
       
        
     
      </div></div>
  </div>
  <div style="width: 100%;
  height: 563.12px;
  left: 0px;
  top: 4625.78px;
  margin-top: 291px;
  background:  #F8F8F8;"></div>
  <div style="width: 1140px;
  height: 233px;
  left: 150px;
  top: 4509.28px;
  background: #FFFFFF;
  border-radius: 10px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: -686.72px;">
  <div class="flex-container">
      <div style="width: 371.61px;
      height: 80px;
      left: 220px;
      top: 4567.78px;
      
      font-family: Rubik;
      font-style: normal;
      font-weight: 500;
      text-shadow: 0px 1px, 1px 0px, 1px 1px;
      font-size: 35px;
      line-height: 45px;
      /* or 129% */
      
      display: flex;
      align-items: center;
      
      color: #0B132A;
      margin-left: 70px;
      margin-top:58.5px;
      ">Subscribe Now & get Special Features!</div>
      <div>
          <button style="width: 250px;
          height: 60px;
          left: 970px;
          top: 4595.78px;
          margin-left: 378.39px;
          margin-right:70px;
          margin-top: 86.5px;
          padding-top: 15px;
          margin-bottom: 86.5px;
          background: #F53838;
          border-radius: 10px;
          border:#F53838"><span style="width: 120px;
            height: 25px;
            left: 1035px;
            top: 4613.28px;

            font-family: Rubik;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 25px;
            margin-top:2px;
            /* identical to box height, or 156% */
            color: #FFFFFF;">Subscribe Now</span><div style="width: 234.83px;
    height: 39px;
    left: 989.09px;
    top: 4621.07px;
    background: rgba(245, 56, 56, 0.35);
    filter: blur(18px);
    border-radius: 10px;
    margin-top: 2px;"></div></button>
      </div>
  </div>
  
  <p style="width: 410px;
  height: 16px;
  left: 220px;
  top: 4667.78px;
  
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* or 187% */
  margin-left:70px;
  margin-bottom: 58.5px;
  margin-top:-63px;
  margin-right:660px;
  display: flex;
  align-items: center;
  
  color: #4F5665;">Let's subscribe with us and find the fun.</p><div style="width: 1132.17px;
    height: 41px;
    left: 181.41px;
    margin-top: -14px;
    background: #0D1025;
    opacity: 0.06;
    filter: blur(15px);
    border-radius: 10px;"></div>
    <div class="flex-container">
        <div style="margin-left: -3px;
        margin-top: 54.5px;"> <img src="/static/MacCX assignment assests/Logo.png" alt="" style="
            height: 47px;
            width: 142px;"></div>
            <div style="width: 71px;
            height: 30px;
            left: 720px;
            top: 4808.89px;
            margin-left:457px;
            margin-top: 69.12px;
            font-family: Rubik;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            /* identical to box height, or 167% */
            color: #0B132A;"><strong>Product</strong></div>
            <div style="width: 71px;
            height: 30px;
            left: 720px;
            top: 4808.89px;
            margin-left:129px;
            margin-top: 69.12px;
            font-family: Rubik;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            /* identical to box height, or 167% */
            color: #0B132A;"><strong>Engage</strong></div>
            <div style="width: 99px;
            height: 30px;
            left: 720px;
            top: 4808.89px;
            margin-left:129px;
            margin-top: 69.12px;
            font-family: Rubik;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            /* identical to box height, or 167% */
            color: #0B132A;"><strong>Earn Money</strong></div>
    </div>
    <div class="flex-container">
        <div style="width: 340px;
        height: 61.57px;
        left: 150px;
        top: 4862.01px;
        
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        /* or 187% */
        margin-left: 6px;
        margin-top:20px;
        
        color: #4F5665;
        ">
        Max<span style="text-shadow: 0px 1px, 1px 0px, 1px 1px;">CX</span> is a private virtual network that has unique features and has high security.
        <div class="flex-container">
      <div style="margin-left:1px;margin-top:30px">
          <img src="/static/instagram.png" alt="" style="width:33.6px;height:33.6px;background-color: #FFFFFF;border-radius: 50%;box-shadow:2px 5px 8px #888888">
      </div>
      <div style="margin-left:20px;margin-top:30px">
        <img src="/static/twitter-sign.png" alt="" style="width:33.6px;height:33.6px;background-color: #FFFFFF;border-radius: 50%;box-shadow:2px 5px 8px #888888">
      </div>
      <div style="margin-left:20px;margin-top:30px">
        <img src="/static/facebook.png" alt="" style="width:33.6px;height:33.6px;background-color: #FFFFFF;border-radius: 50%;box-shadow:2px 5px 8px #888888">
      </div>
  </div>
  <p style="width: 108px;
  height: 30px;
  left: 162px;
  top: 5017.18px;
  margin-top:30px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  
  text-align: center;
  
  color: #AFB5C0;">©2020 Max<strong>CX</strong></p>
        </div>
        <div style="width: 74px;
        height: 30px;
        left: 720px;
        top: 4858.89px;
        
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 187% */
        margin-left: 248px;
        margin-top: 20px;
        color: #4F5665;">Download<br>
        <p style="margin-top: 10px;width: 74px;
        height: 30px;
        left: 720px;
        top: 4858.89px;
        
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 187% */
        
        
        color: #4F5665;">Pricing</p>
        <p style="margin-top: 10px;width: 74px;
        height: 30px;
        left: 720px;
        top: 4858.89px;
        
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 187% */
        
        
        color: #4F5665;">Locations</p>
        <p style="margin-top: 10px;width: 74px;
        height: 30px;
        left: 720px;
        top: 4858.89px;
        
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 187% */
        
        
        color: #4F5665;">Services</p>
        <p style="margin-top: 10px;width: 74px;
        height: 30px;
        left: 720px;
        top: 4858.89px;
        
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 187% */
        
        
        color: #4F5665;">Countries</p>
        <p style="margin-top: 10px;width: 74px;
        height: 30px;
        left: 720px;
        top: 4858.89px;
        
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 187% */
        
        
        color: #4F5665;">Blog</p>
        </div>
        <div style="width: 74px;
        height: 30px;
        left: 720px;
        top: 4858.89px;
        
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 187% */
        margin-left: 130px;
        margin-top: 20px;
        color: #4F5665;">
        <p style="margin-top: -5px;width: 64px;
        height: 30px;
        left: 920px;
        top: 4858.89px;
        
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 187% */
        
        
        color: #4F5665;">MaxCX ?</p>
        <p style="margin-top: 10px;width: 64px;
        height: 30px;
        left: 920px;
        top: 4858.89px;
        
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 187% */
        
        
        color: #4F5665;">FAQ</p>
        <p style="margin-top: 10px;width: 64px;
        height: 30px;
        left: 920px;
        top: 4858.89px;
        
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 187% */
        
        
        color: #4F5665;">Explore</p>
        <p style="margin-top: 10px;width: 69px;
        height: 30px;
        left: 920px;
        top: 4858.89px;
        
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 187% */
        
        
        color: #4F5665;">About Us</p>
        <p style="margin-top: 10px;width: 104px;
        height: 30px;
        left: 920px;
        top: 4858.89px;
        
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 187% */
        
        
        color: #4F5665;">Privacy Policy</p>
        <p style="margin-top: 10px;
        ;width: 124px;
        height: 30px;
        left: 920px;
        top: 4858.89px;
        
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 187% */
        
        
        color: #4F5665;">Terms of Service</p>
        </div>
        <div style="width: 74px;
        height: 30px;
        left: 720px;
        top: 4858.89px;
        
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 187% */
        margin-left: 130px;
        margin-top: 20px;
        color: #4F5665;">
        <p style="margin-top: -5px;width: 64px;
        height: 30px;
        left: 920px;
        top: 4858.89px;
        
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 187% */
        
        
        color: #4F5665;">Affilate</p>
        <p style="margin-top: 10px;width: 121px;
        height: 30px;
        left: 920px;
        top: 4858.89px;
        
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 187% */
        
        
        color: #4F5665;">Become Partner</p>
        
        
        
        </div>

    </div>
  </div>
  
</html>

{% endblock body %}
